<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>	
	<resource-ref>
		<description>Conexion al Sito mediante el pool del tomcat</description>
		<res-ref-name>jdbc/sito</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>Conexion al Sito mediante el pool del tomcat</description>
		<res-ref-name>jdbc/licenciatura</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>Conexion al CIEM mediante el pool del tomcat</description>
		<res-ref-name>jdbc/CIEM</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>Conexion al biostar mediante el pool del tomcat</description>
		<res-ref-name>jdbc/biostar1</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>Conexion al biostar mediante el pool del tomcat</description>
		<res-ref-name>jdbc/biostar2</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
