
 .dvhdr1 {
	background:#F3F0E7;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	border:1px solid #C8BA92;
	padding:5px;
	width:200px;
 }
 
 .dvbdy1 {
	background:#FFFFFF;
	font-family:arial;
	font-size:12px;
	border-left:1px solid #C8BA92;
	border-right:1px solid #C8BA92;
	border-bottom:1px solid #C8BA92;
	padding:5px;
	width:200px;
 }
              
			  

 .dvhdr2 {
	background:#F3F0E7;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	border:1px solid #C8BA92;
	padding:5px;
	width:350px;
 }
 
 .dvbdy2 {
	background:#FFFFFF;
	font-family:arial;
	font-size:12px;
	border-left:1px solid #C8BA92;
	border-right:1px solid #C8BA92;
	border-bottom:1px solid #C8BA92;
	padding:5px;
	width:350px;
 }

 .dvhdr3 {
 	filter:alpha(opacity=85);
	opacity:0.85;
	-moz-opacity:0.85;
	background:#F3F0E7;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	border:1px dashed #F97C00;
	padding:1px;
	width:200px;
 }
     			  